# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment (venv, conda, etc.)
venv/
env/
ENV/
.venv/
.conda/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
dist/
build/
*.spec

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
.cache/
.pytest_cache/
nosetests.xml
test-results/

# MyPy
.mypy_cache/
.dmypy.json

# Pylint
.pylint.d/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
desktop.ini

# dotenv
.env
.env.*

# SQLite
*.sqlite3
*.db

# Others
*.bak
*.swp
